.odd{
    color: gray;
    background-color:red;
}
.even{
    color: lightgray;
    background-color:blue;
}
    
  table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
  }
  /* th {
    border-bottom: 1px solid black;
  }
    
  td {
    text-align: center;
  } */
  Table{
    
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
  }
